{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href=" {% static 'css/index.css' %} ">
    </head>
    <body>
        <div class="chose-recipe">
            <div class="dark-background">
                <h1>
                    Chose recipe
                </h1>
            </div>
            <div>
                {% for i in object_list %}  
                <label>
                    <form>
                        <div>
                            {{i.normal_recipe}}
                            {% for input in i.recipe_input_items.all %}
                            <img class="image-size" src="{{input.item.item_img.url}}"> {{input.amount}}/min
                            {%endfor%}
                            <img class="image-size" src="/media/static/images/arrow_black.png">
                            {% for output in i.recipe_output_items.all %}
                            <img class="image-size" src="{{output.item.item_img.url}}"> {{output.amount}}/min
                            {%endfor%}</div>
                        
                        <div>
                            <input type="image" src="{{i.machine.machine_img.url}}" alt="{{i.machine.machine_name}}">
                        </div> 
                        <input type="hidden" name="recipe_id" value="{{i.id}}">
                    </form>
                </label>
                {% endfor %}
            </div>
        </div>
    </body>
</html>