{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href=" {% static 'css/index.css' %} ">
    </head>
    <body>
        <div class="search">
            <form action="">
                <input class="searchbar" name="search_query" placeholder="Suchen..."/>
                <input type="submit" value="Suchen"/>
            </form>
        </div>
        <div class="cols">
            <div class="col1">
            <div>
                <img class="logo" src="/media/static/images/fiscit_logo.png" alt="">
            </div>
            <div>
                <form action="">
                    <input type="submit" name="category" value="Ingots">
                </form>
            </div>
            <div>
                <form action="">
                    <input type="submit" name="category" value="Minerals">
                </form>
            </div>
            <div>
                <form action="">
                    <input type="submit" name="category" value="Liquids">
                </form>
            </div>
            <div>
                <form action="">
                    <input type="submit" name="category" value="Standard Parts">
                </form>
            </div>
            <div>
                <form action="">
                    <input type="submit" name="category" value="Industrial Parts">
                </form>
            </div>
            <div>
                <form action="">
                    <input type="submit" name="category" value="Electronics">
                </form>
            </div>
            <div>
                <form action="">
                    <input type="submit" name="category" value="Communications">
                </form>
            </div>
            <div>
                <form action="">
                    <input type="submit" name="category" value="Containers">
                </form>
            </div>
            <div>
                <form action="">
                    <input type="submit" name="category" value="Fuels">
                </form>
            </div>
            <div>
                <form action="">
                    <input type="submit" name="category" value="Consumed">
                </form>
            </div>
            <div>
                <form action="">
                    <input type="submit" name="category" value="Ficsmas">
                </form>
            </div>
            <div>
                <form action="">
                    <input type="submit" name="category" value="Ammos">
                </form>
            </div>
            <div>
                <form action="">
                    <input type="submit" name="category" value="Nuclear">
                </form>
            </div>
            <div>
                <form action="">
                    <input type="submit" name="category" value="Special">
                </form>
            </div>
            </div>
            <div class="col">
                <div class="flex">
                    {% for i in object_list %}
                    <div class="recipes">
                        <form method="POST">
                            {% csrf_token %}
                            <div><image src="{{i.item_img.url}}" alt="{{i.item_name}}"></div>
                            <div class="center">{{i.item_name_readable}}</div>
                            <div><input type="number" placeholder="items/min" name="amount_query"/><input type="submit"></div>
                            <div><input type="hidden" name="item_name" value="{{i.item_name}}"></div>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>   
    </body>
</html>