@font-face {
    font-family: "CascadiaMono";
    src: url("fonts/CascadiaMono.ttf") format("truetype");
}

.cols {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    font-family: Arial;
    width: 100%;
}
  
.cols .col {
    flex: 1;
    background-color: rgb(39, 36, 36);
    padding: 2em;
}

.cols .col1 {
    flex: 0;
    background-color: rgb(59, 59, 59);
    padding: 0.5em;
}

.center {
    justify-content: center;
}

/* index */

.search {
    background-color: rgb(24, 24, 24);
    padding-left: 1em;
    padding-bottom: 0.2em;
    color: gray;
    margin-bottom: -1.4em;
}

.logo {
    width: 30em;
    height: 15em;
}

.col1 div:first-child {
    margin: -4em 0 -2em 0;
}

.col1 input {
    margin-left: 0.2em;
}

.col1 div:not(:first-child):hover {
    background-color: rgb(78, 78, 78);
    border-radius: 10px;
}

.recipes:hover {
    background-color: rgb(78, 78, 78);
    border-radius: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex div {
    margin: 1em;
}

.recipes {
    color: white;
}

/* detail */

.chose-recipe {
    background-color: rgb(75, 75, 75);
    color: white;
}

.dark-background {
    background-color: rgb(39, 36, 36);
    padding: 0.5em 0 1em 1em;
}

.chose-recipe div:not(:first-child) {
    background-color: transparent;
}

.chose-recipe div:first-child {
    font-size: 2em;
}

.chose-recipe form {
    display: flex;
    align-items: center;
    margin: 2em;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: space-between;
}

.chose-recipe form:hover {
    background-color: rgb(39, 36, 36);
}


/* result */

.big {
    font-family: "CascadiaMono";
    font-size: 2rem;
}



.cols .col1 input{
    background-color: transparent;
    color: white;
    font-size: 3.6em;
    border-style: none;
}

.background {
    background-color: black;
}

.image-size {
    height: 2em;
    width: 2em;
    margin-left: 1em;
}
