@font-face {
    font-family: "CascadiaMono";
    src: url("fonts/CascadiaMono.ttf") format("truetype");
}

html, body {
    margin: 0;
    background-color: #333333;
}

main {
    min-height: calc(100vh - 9rem);
  }
  
footer {
    height: 6rem;
    background-color: #222222;
    padding-top: 3em;
    padding-left: 4em;
  }

footer a {
    text-decoration: none;
    padding-top: 2em;
    color: white;
    font-size: 3em;
    font-family: Arial;
}

.cols {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    font-family: Arial;
    width: 100%;
}
  
.cols .col {
    flex: 1;
    background-color: #222222;
    padding: 2em;
}

.cols .col1 {
    flex: 0;
    background-color: #333333;
    padding: 0.5em;
}

.cols .col1 input {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 2.6em;
}



/* index */

.search {
    background-color: #151515;
    color: gray;
}

.search h1 {
    font-family: Arial;
    padding: 0.4em;
    margin: 0;
}

.logo {
    width: 22em;
    height: 11em;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.col1 input {
    margin-left: 0.2em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
}

.col1 div:not(:first-child):hover {
    background-color: #222222;
    border-radius: 10px;
}

.recipes:hover {
    background-color: #333333;
    border-radius: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex div {
    margin: 1em;
}

.recipes {
    display: flex;
    justify-content: center;
    color: white;
    
}

.center {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

.input-amount {
    
}

.input-submit {
    text-decoration: none;
}


/* detail */

.chose-recipe {
    background-color: #333333;
    color: white;
    font-family: Arial;
}

.dark-background {
    background-color: #222222;
    padding: 0.5em 0 1em 1em;
}

.chose-recipe div:not(:first-child) {
    background-color: transparent;
}

.chose-recipe div:first-child {
    font-size: 2em;
}

.chose-recipe form {
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em;
    margin-bottom: 0;
    justify-content: space-between;
}

.chose-recipe label:last-child {
    margin-bottom: 2em;
}

.chose-recipe form:hover {
    background-color: rgb(39, 36, 36);
    border-radius: 10px;
}

.recipe-table {
    justify-items: center;
    flex-grow: 0.6;
}

.recipe-table tr {
    display: flex;
    justify-content: space-between;
}

.recipe-table tr:nth-child(-n +2) {
    font-size: 2.5em;
}

.recipe-table tr:last-child {
    font-size: 1.5em;
}

.recipe-table td {
    justify-content: center;
}

.image-size {
    height: 2em;
    width: 2em;
}


/* result */

.header-result {
    background-color: #222222;
    padding: 1em;
    color: white;
    font-family: Arial;
}

.main-result {
    background-color: #333333;
    padding: 1em;
    color: white;
    font-family: Arial;
}

.main-result-div {
    background-color: black;
    color: white;
    padding: 1em;
    font-family: "CascadiaMono";
    border-radius: 10px;
}

.main-result-div-green {
    background-color: black;
    color: rgb(46, 150, 46);
    padding: 1em;
    font-family: "CascadiaMono";
    border-radius: 10px;
}

/* modal test */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }